@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Arena</h1>
    <p class="lead">Game Arena is an online game rental service developed as a project for the course Information Processing Techniques, by Hamza Mustafa Khan & Fizza Abid.
</div>

